# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!/.gitignore
!makefile

### Above combination will ignore all files without extension ###

# VSCode files
.vscode/
*.code-workspace
.history/

# Launch configuration
launch.json

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.as
*.am
*.ob
*.txt
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
dkms.conf
.vscode/launch.json
diff.txt
launch.json
settings.json
first_word_binary
build.sh
launch.json
input/test-error.txt
.vscode/launch.json
.vscode/settings.json
input/test-error.txt
src/invalid_input.as
tests/tokenizer_test
